/* overloader */

[overloader] {
    position: relative;
    min-height: 100px;
}

.overloader {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
    transition: .1s linear all;
    opacity: 1;
}

.overloader.ng-hide {
    opacity: 0;
}

.overloader-icon-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.overloader-icon-container .loading-icon {
    margin: 0 auto;
}

/* simple-alert */

simple-alert.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    top: 10px;
    left: 10%;
    width: 80%;
}

simple-alert.fixed.ng-enter, simple-alert.fixed.ng-leave {
    transition: .2s ease all;
}
simple-alert.fixed.ng-enter {
    opacity: 0;
}

simple-alert.fixed.ng-enter.ng-enter-active {
    opacity: 1;
}

simple-alert.fixed.ng-leave {
    opacity: 1;
}

simple-alert.fixed.ng-leave.ng-leave-active {
    opacity: 0;
}

simple-alert.fixed .alert {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px;
}

/* lexicon-dialog */

.modal.lexicon-modal {
    display: none;
}

.modal.lexicon-modal .modal-dialog {
    position: absolute;
}

@media (min-width: 768px) {
    .modal.lexicon-modal .modal-dialog:not(.modal-full-screen) {
        position: relative;
    }
}

/* clay-dialog */

clay-dialog .modal {
    display: none;
}

clay-dialog .modal-dialog {
    position: relative;
}

@media (max-width: 768px) {
    clay-dialog .modal-dialog {
        width: auto;
    }
}

@media only screen and (min-width: 768px) {
    clay-dialog .modal-dialog {
        max-width: 500px;
    }
}

@media (max-width: 767.98px) {
    clay-dialog .modal-full-screen-sm-down {
        position: absolute;
    }
}

@media (min-width: 992px) {
    clay-dialog .modal-lg {
        max-width: 800px;
    }
}

.modal-open clay-dialog .modal {
  overflow-y: auto;
}
